@model EMS.Models.Module

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/EMS/Views/Shared/_Layout.cshtml";
}

<form id="Module">
    <input readonly type="text" hidden class="form-control" id="Image" name="Image">
    <input readonly type="text" hidden class="form-control" id="Logo" name="Logo">
    <input readonly type="text" hidden class="form-control" value="@Model.Id" id="ModuleID" name="ModuleID">

    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label" required>Tên Template</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="@Model.Name" id="Name" name="Name">
        </div>
    </div>
    <div class="row mb-3">
        <label for="Des" class="col-sm-2 col-form-label" required>Mô tả</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="@Model.Des" id="Des" name="Des">
        </div>
    </div>
    <div class="row mb-3">
        <label for="Link" class="col-sm-2 col-form-label" required>Đường dẫn</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Link" value="@Model.Link" name="Link">
        </div>
    </div>
    <div class="mb-3">
        <label for="LogoFile" class="form-label">Logo</label>
        <input class="form-control" type="file" accept="image/png, image/jpeg" value="@Model.Logo" id="LogoFile" required>
    </div>
    <div class="mb-3">
        <label for="ImageFile" class="form-label">Hình ảnh</label>
        <input class="form-control" type="file" accept="image/png, image/jpeg" value="@Model.Image" id="ImageFile" required>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label" required>Lời mời</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Invitation" value="@Model.Invitation" name="Invitation">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label"  required>Nội dung</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Content" value="@Model.Content" name="Content">
        </div>
    </div>

    <button type="button" id="send" class="btn btn-primary">Tạo</button>
</form>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#send").click(function () {
          
            var fileLogo = $("#LogoFile").get(0).files;
            var fileImage = $("#ImageFile").get(0).files;
            if ($('#Name').val() == "" || $('#Des').val() == "" || $('#Link').val() == "" || $('#Invitation').val() == "" || $('#Content').val() == "") {
                alert("Vui lòng điền đầy đủ thông tin")


            } else {
                var formdata =
                    $("#Module").serialize()
                if ($('#LogoFile').val() != "" || $('#ImageFile').val() != "") {
                    var filedata = new FormData();
                    filedata.append("fileLogo", fileLogo[0]);
                    filedata.append("fileImage", fileImage[0]);

                    $.ajax({
                        type: "post",
                        url: '/Module/UploadFiles',
                        contentType: false, // Not to set any content header  
                        processData: false, // Not to process data  
                        data: filedata,
                        datatype: 'json',

                        success: function (data) {
                            if (data.status == "200") {
                                $("#Logo").val(data.imgNames[0])
                                $("#Image").val(data.imgNames[1])



                                PostForm(formdata)
                            } else {
                                console.log(data.message)
                            }

                        },
                    })
                } else {
                    PostForm(formdata)
                }
               
            }
        })
    });

    function PostForm(data) {
        $.ajax({
            type: "post",
            url: '/Module/SettingModule',
            data: data,
            datatype: 'json',

            success: function (data) {
                if (data.status == "200") {
                    alert("Tạo thành công")
                    location.reload()
                }
            },
        })
    }
</script>


